.searcher-fixed{
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: #333;
    z-index: 100;
}

.searcher-fixed form{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.searcher-fixed input[type="text"]{
    width: 65%;
    margin-top: 12px;
    display: inline-block;
}

.searcher-fixed input[type="submit"]{
    width: 30%;
    margin-top: 12px;
}

.results{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


@media screen and (min-width:768px){
    .results{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width:1024px){
    .results{
        grid-template-columns: repeat(4, 1fr);
    }
}

.card-image{
    width: 180px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    padding-top:1rem;
    padding-bottom: 1rem;
}

.card-body{
    display: flex;
    padding: .5rem;
    flex-direction: column;
}

.card-title{
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
}

.navigation{
    width: 150px;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px auto;
}

@media screen and (min-width: 768px){
    .navigation{
        width: 350px;
        flex-direction: row;
    }
}

.back, .next{
    padding: .4rem 2rem;
}

.no-results{
    margin: 0 auto;
    margin-bottom: 25px;
}